
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddCss{
    @Styles.Render("~/Bundle/home")
}
@section scripts{
    @Scripts.Render("~/Bundles/Scripts/home")
}
    <section class="slide" id="slideContent">
        <div class="container">
            <div class="slide__content">
                <div class="slide__item ">
                    <p class="slide__item-title active">
                        Welcome to Rosebud
                    </p>
                    <p class="slide__item-sub">
                        Perfect bouquet
                    </p>
                    <p class="slide__item-description">
                        A simply gorgeous WordPress theme packed with everything you will need to create a delightful website for your flower shop or florist business quickly and with ease.
                    </p>
                    <div class="slide__item-btn">
                        <a href="/">
                            Read more
                        </a>
                        <a href="/">
                            Read more
                        </a>
                    </div>
                </div>
                <div class="slide__item">
                    <p class="slide__item-title">
                        Welcome to Rosebud
                    </p>
                    <p class="slide__item-sub">
                        florist's  dream
                    </p>
                    <p class="slide__item-description">
                        A simply gorgeous WordPress theme packed with everything you will need to create a delightful website for your flower shop or florist business quickly and with ease.
                    </p>
                    <div class="slide__item-btn">
                        <a href="/">
                            Read more
                        </a>
                        <a href="/">
                            Read more
                        </a>
                    </div>
                </div>
                <div class="slide__item">
                    <p class="slide__item-title">
                        Welcome to Rosebud
                    </p>
                    <p class="slide__item-sub">
                        time to blossom
                    </p>
                    <p class="slide__item-description">
                        A simply gorgeous WordPress theme packed with everything you will need to create a delightful website for your flower shop or florist business quickly and with ease.
                    </p>
                    <div class="slide__item-btn">
                        <a href="/">
                            Read more
                        </a>
                        <a href="/">
                            Read more
                        </a>
                    </div>
                </div>
            </div>
            <div class="slide__checkbox">
                <input type="radio" name="slide" id="slide1" checked />
                <label for="slide1">
                </label>
                <input type="radio" name="slide" id="slide2" />
                <label for="slide2">
                </label>
                <input type="radio" name="slide" id="slide3" />
                <label for="slide3">
                </label>
            </div>
        </div>
    </section>
