<header class="header">
    <div class="container">
        <div class="header__brand">
            <a href="/">
                <img src="@Url.Content("~/img/logo.png")" alt="logo" />
                <img src="@Url.Content("~/img/logo-header.png")" alt="logo" />
            </a>
        </div>
        <nav class="nav mb-0">
            <ul class="nav__box mb-0">
                <li class="nav__item">
                    <div class="nav__item-box">
                        <a href="/">
                            Home
                        </a>
                        <i class="fas fa-angle-right"></i>
                    </div>
                    <ul class="nav__item-children">
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <div class="nav__item-box">
                        <a href="/">
                            Pages
                        </a>
                        <i class="fas fa-angle-right"></i>
                    </div>
                    <ul class="nav__item-children">
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <div class="nav__item-box">
                        <a href="/">
                            Blog
                        </a>
                        <i class="fas fa-angle-right"></i>
                    </div>
                    <ul class="nav__item-children">
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <div class="nav__item-box">
                        <a href="/">
                            Shop
                        </a>
                        <i class="fas fa-angle-right"></i>
                    </div>
                    <ul class="nav__item-children">
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <div class="nav__item-box">
                        <a href="/">
                            Elements
                        </a>
                        <i class="fas fa-angle-right"></i>
                    </div>
                    <ul class="nav__item-children">
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <div class="nav__item-box">
                        <a href="/">
                            Protfolio
                        </a>
                        <i class="fas fa-angle-right"></i>
                    </div>
                    <ul class="nav__item-children">
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                        <li>
                            <a href="/">
                                Block 1
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="header__box">
            @if (User.Identity.IsAuthenticated)
            {
            <div class="header__action -user">
                <p class=" mb-0 header__user">
                    @HttpContext.Current.User.Identity.Name
                </p>

                <div class="cart__sub">
                    <div class="cart__sub-cart">
                        <i class="fas fa-shopping-cart">
                            <span id="AmountCart">
                            </span>
                        </i>
                    </div>
                    <div class="cart__bag">
                        <p class="cart__bag-title">Bag</p>
                        <div class="cart__list" id="ListCart">
                        </div><a class="cart__bag-btn" href="#">View Bag</a>
                    </div>
                </div>
                <a href="@Url.Action("Logout","Home")">
                    Logout
                </a>
            </div>


            }
            else
            {
                <div class="header__action">
                    <a href="/Home/Login" >
                        Sign In
                    </a>
                    <a>
                        Sign Up
                    </a>
                </div>

            }
            <div class="header__toggle" id="toggleMenu">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </div>
        </div>
        
       

    </div>
</header>