@import '~/css/_variable.scss';
.slide {
    min-height: 90vh;
    transition: all .35s ease;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .container {
        height: 90vh;
        position: relative;
    }

    &__content {
        color: white;
        text-align: center;
        padding-top: 200px;
    }

    &__item {
        display: none;

        &.active {
            display: block;
        }

        &-title {
            font-family: $font-main;
            font-size: 4rem;
            font-weight: bolder;
            animation: moveToTop .5s ease;
        }

        &-sub {
            font-family: $font-main1;
            font-weight: 400;
            font-size: 4rem;
            text-transform: uppercase;
            transform: translateY(40px);
            opacity: 0;
            animation: moveToTop 1s ease;
            animation-delay: .25s;
            animation-fill-mode: forwards;
        }

        &-description {
            font-family: $font-main2;
            width: 400px;
            margin: 0 auto;
            font-size: 1.6rem;
            color: white;
            margin-top: 20px;
            transform: translateY(40px);
            opacity: 0;
            animation: moveToTop .5s ease;
            animation-delay: .5s;
            animation-fill-mode: forwards;
        }

        &-btn {
            padding-top: 62px;
            display: inline-block;
            transform: translateY(40px);
            opacity: 0;
            animation: moveToTop .5s ease;
            animation-delay: .75s;
            animation-fill-mode: forwards;

            a {
                padding: 15px 30px;
                font-size: 1.2rem;
                border: 1px solid white;
                transition: all .5s ease;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold;

                &:nth-child(1) {
                    color: black;
                    background-color: white;
                    margin-right: 35px;

                    &:hover {
                        background-color: initial;
                        color: white;
                    }
                }

                &:nth-child(2) {
                    color: white;

                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 87px;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);

        label {
            width: 7px;
            height: 7px;
            background-color: white;
            border-radius: 50%;
        }

        input:checked + label {
             transform:scale(2);
        }
    }

    input[type="radio"] {
        display: none;
    }
}
.introduce {
    &__list {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding:100px 0;
    }

    &__item {
        text-align: center;

        img {
            height: 50px;
            width: 50px;
        }

        &-name {
            font-family: $font-main1;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 400;
            color: $color-dark;
            margin-top:10px;
        }

        &-sub {
            color: $common-color;
            font-size: 1.4rem;
            line-height: 150%;
            margin-top:5px;
        }
    }
}
@include titleProduct;
.login{
    margin-top: 100px;
}
@keyframes moveToTop {
    from {
        transform:translateY(40px);
        opacity:0;
    }

    to {
        transform: translateY(0);
        opacity:1;
    }
}
    @media all and (min-width:$breakpoint-md) {
        .product{
            &__list{
               grid-template-columns:repeat(2,1fr);
            }
        }
    }
    @media all and (min-width:$breakpoint-lg) {
        .slide {
            &__item {
                &-title {
                    font-size: 6rem;
                }

                &-sub {
                    font-size: 6rem;
                }

                &-description {
                    width: 800px;
                }
            }
        }

        .introduce {
            &__list {
                grid-template-columns: repeat(3,1fr)
            }
        }
        
    }
    @media all and (min-width:$breakpoint-xl) {
        .product {
            &__list {
                grid-template-columns: repeat(4,1fr);
            }
            &__item{
                &-img{
                    height:350px;
                }
            }
        }
    }
