@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import '~/css/_variable.scss';
*, *::after, *::before{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}
img{
    width:100%;
    height:100%;
    object-fit:cover;
}
a{
    text-decoration:none !important;
}
a,button{
    cursor:pointer;
}
button{
    border:none;
}
input, button {
    &:focus{
        outline:none;
    }
}
ul{
    list-style:none;
}
.container {
    padding: 0 30px !important;
}
@media all and  (min-width:$breakpoint-xl){
    .container{
        padding: 0 140px  !important;
    }
}
@media (min-width: 576) {
    .container {
        max-width: initial !important;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: initial !important;
    }
}
@media (min-width: 992px){
    .container{
        max-width:initial !important;
    }
}